.header{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    flex-direction: column;
}

.top__menu{
    display: flex;
    margin: 0;
    padding: 0;
}
.top__menu li {
    list-style-type: none;
    margin-left: 1rem;
}